root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4

csharp_indent_braces = false
csharp_indent_switch_labels = true
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = none
csharp_new_line_between_query_expression_clauses = true
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, closed, sealed, readonly, override, safe, unsafe, extern, volatile, async, required:suggestion
csharp_prefer_braces = true:none
csharp_preserve_single_line_blocks = true
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_using_directive_placement = outside_namespace:silent

dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = omit_if_default:suggestion

skala_accessor_owner_body = expression_body
skala_align_linq_query = false
skala_align_multiline_array_and_object_initializer = false
skala_align_multiline_binary_expressions_chain = false
skala_align_multiline_binary_patterns = false
skala_align_multiline_comments = true
skala_align_multiline_list_pattern = false
skala_align_multiline_property_pattern = false
skala_align_multiline_statement_conditions = true
skala_align_multiline_switch_expression = false
skala_align_multiline_type_parameter_list = false
skala_align_tuple_components = false
skala_allow_comment_after_lbrace = true
skala_apply_auto_detected_rules = false
skala_arguments_anonymous_function = positional
skala_arguments_literal = positional
skala_arguments_named = positional
skala_arguments_other = positional
skala_arguments_skip_single = false
skala_arguments_string_literal = positional
skala_xmldoc_attribute_style = do_not_touch
skala_blank_lines_after_block_statements = 1
skala_blank_lines_after_case = 0
skala_blank_lines_after_control_transfer_statements = 0
skala_blank_lines_after_file_scoped_namespace_directive = 1
skala_blank_lines_after_multiline_statements = 0
skala_blank_lines_after_start_comment = 1
skala_blank_lines_after_using_list = 1
skala_blank_lines_around_accessor = 0
skala_blank_lines_around_auto_property = 1
skala_blank_lines_around_block_case_section = 0
skala_blank_lines_around_field = 1
skala_blank_lines_around_invocable = 1
skala_blank_lines_around_local_method = 1
skala_blank_lines_around_multiline_case_section = 0
skala_blank_lines_around_namespace = 1
skala_blank_lines_around_property = 1
skala_blank_lines_around_region = 1
skala_blank_lines_around_single_line_accessor = 0
skala_blank_lines_around_single_line_auto_property = 0
skala_blank_lines_around_single_line_field = 0
skala_blank_lines_around_single_line_invocable = 0
skala_blank_lines_around_single_line_local_method = 0
skala_blank_lines_around_single_line_property = 0
skala_blank_lines_around_single_line_type = 1
skala_blank_lines_around_type = 1
skala_blank_lines_before_block_statements = 0
skala_blank_lines_before_case = 0
skala_blank_lines_before_control_transfer_statements = 0
skala_blank_lines_before_multiline_statements = 0
skala_blank_lines_before_single_line_comment = 0
skala_blank_lines_inside_namespace = 0
skala_blank_lines_inside_region = 1
skala_blank_lines_inside_type = 0
skala_xmldoc_blank_line_after_pi = true
skala_braces_redundant = true
skala_configure_await_analysis_mode = disabled
skala_constructor_or_destructor_body = block_body
skala_continuous_indent_multiplier = 1
skala_align_multiline_extends_list = false
skala_align_multiple_declaration = false
skala_allow_far_alignment = false
skala_empty_block_style = together
skala_keep_existing_enum_arrangement = false
skala_keep_nontrivial_alias = false
skala_max_enum_members_on_line = 1
skala_max_line_length = 120
skala_new_line_before_while = false
skala_space_after_unary_operator = false
skala_wrap_after_declaration_lpar = true
skala_wrap_after_invocation_lpar = true
skala_wrap_arguments_style = chop_if_long
skala_wrap_before_binary_opsign = true
skala_wrap_before_declaration_rpar = true
skala_wrap_before_first_type_parameter_constraint = true
skala_wrap_before_invocation_rpar = true
skala_wrap_extends_list_style = chop_if_long
skala_wrap_lines = true
skala_wrap_parameters_style = chop_if_long
skala_default_value_when_type_evident = default_literal
skala_default_value_when_type_not_evident = default_literal
skala_disable_blank_line_changes = false
skala_disable_formatter = false
skala_disable_indenter = false
skala_disable_int_align = false
skala_disable_line_break_changes = false
skala_disable_line_break_removal = false
skala_disable_space_changes = false
skala_empty_string = string_empty
skala_enforce_line_ending_style = false
skala_force_chop_compound_do_expression = false
skala_force_chop_compound_if_expression = false
skala_force_chop_compound_while_expression = false
skala_formatter_off_tag = @formatter:off
skala_formatter_on_tag = @formatter:on
skala_formatter_tags_accept_regexp = false
skala_formatter_tags_enabled = true
skala_indent_anonymous_method_block = false
skala_indent_break_from_case = true
skala_xmldoc_indent_child_elements = OneIndent
skala_indent_inside_namespace = true
skala_indent_invocation_pars = inside
skala_indent_method_decl_pars = inside
skala_indent_nested_fixed_stmt = false
skala_indent_nested_foreach_stmt = false
skala_indent_nested_for_stmt = false
skala_indent_nested_lock_stmt = false
skala_indent_nested_usings_stmt = false
skala_indent_nested_while_stmt = false
skala_indent_pars = inside
skala_indent_preprocessor_if = no_indent
skala_indent_preprocessor_other = no_indent
skala_indent_preprocessor_region = usual_indent
skala_indent_primary_constructor_decl_pars = inside
skala_indent_raw_literal_string = align
skala_indent_statement_pars = inside
skala_xmldoc_indent_text = OneIndent
skala_indent_typearg_angles = inside
skala_indent_typeparam_angles = inside
skala_indent_type_constraints = true
skala_int_align = false
skala_int_align_comments = false
skala_int_align_declaration_names = false
skala_int_align_enum_initializers = false
skala_int_align_eq = false
skala_int_align_fix_in_adjacent = true
skala_keep_blank_lines_in_code = 2
skala_keep_blank_lines_in_declarations = 2
skala_keep_existing_attribute_arrangement = false
skala_keep_existing_declaration_block_arrangement = false
skala_keep_existing_declaration_parens_arrangement = true
skala_keep_existing_embedded_arrangement = true
skala_keep_existing_embedded_block_arrangement = false
skala_keep_existing_expr_member_arrangement = false
skala_keep_existing_invocation_parens_arrangement = false
skala_keep_existing_lambda_and_anonymous_function_parens_arrangement = true
skala_keep_existing_list_patterns_arrangement = true
skala_keep_existing_primary_constructor_declaration_parens_arrangement = true
skala_keep_existing_property_patterns_arrangement = false
skala_keep_existing_switch_expression_arrangement = false
skala_keep_user_linebreaks = true
skala_keep_user_wrapping = true
skala_xmldoc_linebreaks_inside_tags_for_elements_longer_than = 2147483647
skala_xmldoc_linebreaks_inside_tags_for_elements_with_child_elements = true
skala_xmldoc_linebreaks_inside_tags_for_multiline_elements = true
skala_xmldoc_linebreak_before_multiline_elements = true
skala_xmldoc_linebreak_before_singleline_elements = false
skala_local_function_body = expression_body
skala_max_array_initializer_elements_on_line = 10000
skala_max_attribute_length_for_same_line = 120
skala_max_formal_parameters_on_line = 10000
skala_max_initializer_elements_on_line = 4
skala_max_invocation_arguments_on_line = 10000
skala_max_primary_constructor_parameters_on_line = 10000
skala_method_or_operator_body = expression_body
skala_null_checking_pattern_style = not_null_pattern
skala_object_creation_when_type_evident = target_typed
skala_object_creation_when_type_not_evident = target_typed
skala_old_engine = false
skala_outdent_binary_ops = false
skala_outdent_binary_pattern_ops = false
skala_outdent_dots = false
skala_outdent_statement_labels = false
skala_parentheses_redundancy_style = remove_if_not_clarifies_precedence
skala_xmldoc_pi_attributes_indent = align_by_first_attribute
skala_place_attribute_on_same_line = false
skala_place_comments_at_first_column = false
skala_place_constructor_initializer_on_same_line = true
skala_place_expr_accessor_on_single_line = if_owner_is_single_line
skala_place_expr_method_on_single_line = if_owner_is_single_line
skala_place_expr_property_on_single_line = if_owner_is_single_line
skala_place_linq_into_on_new_line = true
skala_place_primary_constructor_initializer_on_same_line = true
skala_place_simple_case_statement_on_same_line = if_owner_is_single_line
skala_place_simple_embedded_statement_on_same_line = if_owner_is_single_line
skala_place_simple_initializer_on_single_line = true
skala_place_simple_list_pattern_on_single_line = true
skala_place_simple_property_pattern_on_single_line = true
skala_place_simple_switch_expression_on_single_line = false
skala_place_single_method_argument_lambda_on_same_line = true
skala_place_type_constraints_on_same_line = true
skala_prefer_explicit_discard_declaration = false
skala_prefer_wrap_around_eq = default
skala_remove_blank_lines_near_braces_in_code = true
skala_remove_blank_lines_near_braces_in_declarations = true
skala_remove_only_unused_aliases = true
skala_remove_spaces_on_blank_lines = true
skala_sort_usings = true
skala_xmldoc_spaces_around_eq_in_attribute = false
skala_xmldoc_spaces_around_eq_in_pi_attribute = false
skala_xmldoc_spaces_inside_tags = false
skala_space_after_attributes = true
skala_space_after_attribute_colon = true
skala_space_after_colon_in_case = true
skala_space_after_keywords_in_control_flow_statements = true
skala_xmldoc_space_after_last_attribute = false
skala_space_after_operator_keyword = true
skala_space_after_ternary_colon = true
skala_space_after_ternary_quest = true
skala_space_after_triple_slash = true
skala_space_after_type_parameter_constraint_colon = true
skala_space_around_additive_op = true
skala_space_around_alias_eq = true
skala_space_around_assignment_op = true
skala_space_around_lambda_arrow = true
skala_space_around_member_access_operator = false
skala_space_around_relational_op = true
skala_space_around_shift_op = true
skala_space_around_ternary_operator = true
skala_space_before_checked_parentheses = false
skala_space_before_attribute_colon = false
skala_space_before_colon_in_case = false
skala_space_before_colon_in_ctor_initializer = true
skala_space_before_default_parentheses = false
skala_space_before_empty_method_parentheses = false
skala_space_before_method_parentheses = false
skala_space_before_nameof_parentheses = false
skala_space_before_new_parentheses = false
skala_space_before_nullable_mark = false
skala_space_before_open_square_brackets = false
skala_space_before_pointer_asterik_declaration = false
skala_space_before_semicolon = false
skala_space_before_singleline_accessorholder = true
skala_space_before_sizeof_parentheses = false
skala_space_before_ternary_colon = true
skala_space_before_ternary_quest = true
skala_space_before_trailing_comment = true
skala_space_before_trailing_comment_text = false
skala_space_before_typeof_parentheses = false
skala_space_before_type_argument_angle = false
skala_space_before_type_parameter_angle = false
skala_space_before_type_parameter_constraint_colon = true
skala_space_between_accessors_in_singleline_property = true
skala_space_between_attribute_sections = true
skala_space_between_keyword_and_expression = true
skala_space_between_keyword_and_type = true
skala_space_between_method_call_name_and_opening_parenthesis = false
skala_space_between_method_declaration_name_and_open_parenthesis = false
skala_space_between_parentheses_of_control_flow_statements = false
skala_space_between_square_brackets = false
skala_space_between_typecast_parentheses = false
skala_space_in_singleline_accessorholder = true
skala_space_in_singleline_anonymous_method = true
skala_space_in_singleline_method = true
skala_space_near_postfix_and_prefix_op = false
skala_space_within_checked_parentheses = false
skala_space_within_default_parentheses = false
skala_space_within_empty_braces = true
skala_space_within_nameof_parentheses = false
skala_space_within_new_parentheses = false
skala_space_within_parentheses = false
skala_space_within_single_line_array_initializer_braces = true
skala_space_within_sizeof_parentheses = false
skala_space_within_slice_pattern = true
skala_space_within_spread_pattern = true
skala_space_within_typeof_parentheses = false
skala_space_within_type_argument_angles = false
skala_space_within_type_parameter_angles = false
skala_special_else_if_treatment = true
skala_static_members_qualify_members = none
skala_static_members_qualify_with = declared_type
skala_stick_comment = true
skala_trailing_comma_in_multiline_lists = false
skala_trailing_comma_in_singleline_lists = false
skala_use_continuous_indent_inside_initializer_braces = true
skala_use_continuous_indent_inside_parens = true
skala_use_heuristics_for_body_style = true
skala_use_indent_from_vs = false
skala_wrap_after_dot_in_method_calls = false
skala_wrap_after_expression_lbrace = true
skala_wrap_after_primary_constructor_declaration_lpar = true
skala_wrap_after_property_in_chained_method_calls = false
skala_xmldoc_wrap_around_elements = true
skala_wrap_array_initializer_style = wrap_if_long
skala_wrap_before_arrow_with_expressions = false
skala_wrap_before_binary_pattern_op = true
skala_wrap_before_comma = false
skala_wrap_before_comma_in_base_clause = false
skala_wrap_before_declaration_lpar = false
skala_wrap_before_eq = false
skala_wrap_before_expression_rbrace = true
skala_wrap_before_extends_colon = false
skala_wrap_before_first_method_call = false
skala_wrap_before_invocation_lpar = false
skala_wrap_before_linq_expression = false
skala_wrap_before_primary_constructor_declaration_lpar = false
skala_wrap_before_primary_constructor_declaration_rpar = false
skala_wrap_before_ternary_opsigns = true
skala_wrap_before_type_parameter_langle = false
skala_wrap_chained_binary_expressions = chop_if_long
skala_wrap_chained_binary_patterns = chop_if_long
skala_wrap_chained_method_calls = chop_if_long
skala_wrap_enum_declaration = chop_always
skala_wrap_for_stmt_header_style = chop_if_long
skala_wrap_list_pattern = wrap_if_long
skala_wrap_multiple_declaration_style = chop_if_long
skala_wrap_multiple_type_parameter_constraints_style = chop_if_long
skala_wrap_primary_constructor_parameters_style = chop_if_long
skala_wrap_property_pattern = chop_if_long
skala_wrap_switch_expression = chop_always
skala_wrap_ternary_expr_style = chop_if_long
skala_xmldoc_allow_far_alignment = false
skala_xmldoc_attribute_indent = single_indent
skala_xmldoc_insert_final_newline = false
skala_xmldoc_linebreak_before_elements = summary,remarks,example,returns,param,typeparam,value,para
skala_xmldoc_max_blank_lines_between_tags = 0
skala_xmldoc_max_line_length = 120
skala_xmldoc_pi_attribute_style = do_not_touch
skala_xmldoc_space_after_last_pi_attribute = true
skala_xmldoc_space_before_self_closing = true
skala_xmldoc_wrap_lines = true
skala_xmldoc_wrap_tags_and_pi = true
skala_xmldoc_wrap_text = true

[*.csv]
indent_style = tab
tab_width = 4

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ispc,isph,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,pssl,pssli,razor,resw,resx,shader,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
